body, html {
    background-color: #f0f0f0;
}

.all-but-footer {
    min-height: calc(100vh - 210px);
}

.form-layout {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 40px auto;
    max-width: 85%;
}

input[type=text],
input[type=password],
input[type=email] {
    border: 4px solid #f0f0f0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

footer {
    margin-top: 100px;
}

footer p {
    display: block;
    font-size: 15px;
    margin-top: 20px;
    text-transform: initial;
}

.container-fluid {
    padding: 0 !important;
    margin: 0 !important;
}