{% extends 'core/base.html' %}
{% load static %}

  {% block content %}
    <div class="text-center shadow form-layout bg-light p-5 w-50">

      <!-- Lock symbol -->
      <i class="fa-solid fa-lock fa-2xl text-dark"></i>

      <h2 class="mt-5">Account Locked</h2>

      <p class="mt-5">
        You have been locked out of your account due to multiple failed
        login attempts.
      </p>
      <p class="mt-4">
        You can re-attempt to log in to your account after the expiry period.
      </p>

      <a href="{% url 'index' %}" type="button" class="btn btn-info mt-5">
        Return to homepage
      </a>
    </div>
  {% endblock %}
