{% extends 'core/base.html' %}
{% load static %}

{% block title %}SecureX - Dashboard{% endblock %}

{% block content %}
  <div class="container">
    <div class="shadow form-layout bg-light p-5">
      <h2 class="text-center">Welcome, {{ user }}!</h2>
      <p class="text-center">This is the Dashboard</p>
    </div>

    <div class="shadow form-layout bg-light p-5">
      <h2 class="text-center">About SecureX</h2>
      <p class="text-center">SecureX is the most secure site in the world!</p>
    </div>

    <div class="shadow form-layout bg-light p-5">
      <h2 class="text-center">2FA</h2>
      <p class="text-center">Two-factor authentication provides users with extra security</p>

      <div class="text-center mt-5">
        <a class="btn btn-outline-success"
           type="button"
           href="{% url 'two_factor:setup' %}">
          Enable 2FA
        </a>
        <a class="btn btn-outline-info"
           type="button"
           href="{% url 'two_factor:profile' %}">
          2FA account settings
        </a>
      </div>
    </div>
  </div>

{% endblock %}
