{% extends 'core/base.html' %}
{% load static %}

{% block content %}

  <div class="container text-center mt-5">

    <!-- Lock symbol -->
    <i class="fa-solid fa-lock fa-2xl text-dark"></i>

    <h3 class="mt-5">SecureX .... The most secure website out there! </h3>

    <p class="mt-4">
      Ensure that your Django web application is secure in all areas.
    </p>

    <!-- Button -->
    <a class="btn btn-info mt-4"
       type="button"
       href="{% url 'register' %}">
      <i class="fa fa-user" aria-hidden="true"></i> &nbsp; Make an account
    </a>

  </div>
  
{% endblock %}
