{% extends 'core/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}SecureX - Register{% endblock %}

{% block content %}

  <div class="container">
    <div class="shadow form-layout bg-light p-5">

      <h3 class="text-center text-primary">Create your account</h3>
      <h5 class="text-center">Secure your account</h5>

      <form action="{% url 'register' %}" method="post" class="mt-5">
        {% csrf_token %}

        {{ register_form|crispy }}

        {{ captcha }}

        <input type="submit"
               value="Create account"
               class="btn btn-info w-100 p-3 mt-3 mt-xl-4">

        <a href="{% url 'two_factor:login' %}" class="mt-2 d-block">
          Already have an account?
        </a>

      </form>

    </div>
  </div>

{% endblock %}
